.container {
  background-color: white;
  width: 600px;
  height: 380px;
}

.input-box {
  display: block;
}

@media (max-width: 576px) {
  .container {
    background-color: white;
    width: 500px;
    height: 350px;
  }
}

