:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

/*03-characters*/
body {
  background-color: var(--cyan);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

.container {
  width: 950px;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-img-top {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.card:hover {
  background-color: var(--blue);
  color: var(--white);
}

.card-title {
  font-weight: normal;
  font-size: x-large;
  text-align: center;
}
